@import url("./Fonts.css");
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    color: #fefefe;
    font-family: secularOne;
}
ul li{
    list-style-type: none;
    margin:0.75rem;
    text-align: center;
}

@media screen and (max-width: 992px) {
   ul{
       flex-direction: column;
   }
  }